/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4C4556;
}

/* HEADER/BANNER STYLES */
.header {
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("./images/me.jpeg");
    background-size: cover;
    position: relative;
    animation: moveBackground 10s linear infinite alternate-reverse;
}

.header__introduction,  
.header .header__sidenavigation--list-child,
.header .header__sidenavigation2--list-child
 {
    display: flex;
    align-items: center;
}

.header__navigation {
    position: absolute;
    top: 5.8%;
    left: 50%;
    transform: translate(-50%, 5%);
    max-width: 643px;
    margin-left: 25px;
}

.header__introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__navigation .header__navigation--list:hover {
    cursor: pointer;
}

.header__navigation .header__navigation--list ul {
    list-style: none;
    display: flex;
}

.header__navigation .header__navigation--list ul .header__navigation--list-child {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header__navigation .header__navigation--list ul .header__navigation--list-child:last-child::after {
    width: 350px;
    margin-left: 20px;
}

.header__navigation 
.header__navigation--list 
ul 
.header__navigation--list-child 
.header__navigation--list-child-icon {
    /* border: 2px solid #F6C026; */
    margin-left: -20px;
    padding: 5px;
    /* border-radius: 50%; */
}

.header__navigation .header__navigation--list ul li a,
.header .header__sidenavigation--list-child a,
.header .header__sidenavigation2--list-child a
{
    text-decoration: none;
    color: #F6C026;
    margin-right: 25px;
}

.header .header__sidenavigation--list-child:first-child::after,
.header .header__sidenavigation--list-child:last-child::after,
.header__navigation .header__navigation--list
ul 
.header__navigation--list-child:last-child::after
 {
    content: '';
    height: 2px;
    background-color: #F6C026;
}

.header .header__sidenavigation--list-child:first-child::after {
    width: 210px;
}

.header .header__sidenavigation--list-child:last-child::after {
    width: 490px;
}

.header 
.header__sidenavigation--list-child
.header__sidenavigation--list-child-icon,
.header 
.header__sidenavigation2--list-child
.header__sidenavigation2--list-child-icon
 {
    margin-right: 5px;
    border: 2px solid #F6C026;
    padding: 5px;
    border-radius: 50%;
}

.separator {
    background-color: #F6C026;
    height: 115px;
    width: 2px;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header__sidenavigation {
    position: absolute;
    top: 50%;
    left: 10%;
}

.header__sidenavigation2 {
    position: absolute ;
    top: 50%;
    right: 10%;
}

/* .header 
.header__sidenavigation--list-child
.header__sidenavigation--list-child-icon::after {
    content: '';
    clear: both;
    border: 1px solid white;
    height: 30px;
    width: 1px;
    background-color: #004aad;
} */

.header__navigation .header__navigation--list ul li a:hover {
    text-decoration: #F6C026;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__navigation {
    justify-content: space-between;
}

.header__introduction {
    justify-content: center;
    flex-direction: column-reverse;
    align-self: center;
}

.header__introduction .header__introduction--heading {
    margin-top: 20px;
}

.header__introduction .header__introduction--heading h1  {
    color: #F6C026;
}

.header__introduction .header__introduction--heading h4  {
    color: #872642;
}

.header__introduction .header__introduction--image img {
   border-radius: 50%;
}

.header .header__down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes moveBackground {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% 0%;
    }
}

/* CONTENT STYLES */

.content {
   max-width: 1024px;
   text-align: center;
   padding: 20px;
   margin: 0 auto;
}

.content .content__about .content__about--heading {
    border-bottom: 2px solid #F6C026;
    display: inline-block;
}

.content .content__about .content__about--intro {
    margin-top: 20px;
    text-align: center;
}